.charts-container {
  /* width: 100%; */
  /* margin-left: 200px; Matches sidebar offset */
  /* padding-right: 20px; */
  transition: all 0.4s ease;
}

.chart-box {
  border: 1px solid #f0f0f0;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.chart-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.chart-box h5 {
  font-size: 1.1rem;
  color: #333;
  letter-spacing: 0.5px;
}

.recharts-wrapper {
  overflow: visible !important;
}

/* Responsive */
@media (max-width: 992px) {
  .charts-container {
    margin-left: 0;
    padding: 10px;
  }

  .chart-box {
    margin-bottom: 20px;
  }
}
